# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.code-workspace

*.stackdump

# Data
!data/.gitkeep
data/*

# Logs
logs/*.log
*.log

# Sensitive configuration files
config/ytcm_google_credentials.json
config/ytcm_openai_credentials.json
config/ytcm_polly_credentials.json
config/ytcm_youtube_token.json

# OS specific files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary files
static/tmp/*/*.mp3
!static/tmp/*/.gitkeep
