<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Chat Magnifier</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/yt-chat-magnifier.css" rel="stylesheet">
    <link href="/static/css/yt-emoji.css" rel="stylesheet">
    <link href="/static/css/message-flash.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="mb-0">YouTube Chat Magnifier</h2>
                    </div>
                    <div class="card-body">
                        <div id="connection-controls" class="mb-4 text-center">
                            {% if connected %}
                                <button id="disconnect-btn" class="btn btn-lg disconnect-btn text-white">DISCONNECT FROM YOUTUBE</button>
                            {% else %}
                                <button id="connect-btn" class="btn btn-lg connect-btn text-white">CONNECT TO YOUTUBE</button>
                            {% endif %}
                        </div>
                        
                        <div class="row d-flex flex-row">
                            <div class="col-md-10">
                                <div id="messages-container" class="{% if not connected %}d-none{% endif %}">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h4 style="white-space: nowrap; margin-bottom: 0;">Chat Messages <span style="font-size: .7em;" class="fst-italic">({{ live_title }})</span></h4>
                                    </div>
                                    <div class="message-list p-3 border rounded">
                                        <ul id="message-list" class="list-group list-group-flush">
                                            <!-- Messages will be added here dynamically -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="scroll-commands" class="col-md-2 d-flex align-items-start">
                                <div class="row w-100">
                                    <div class="col-3 p-0">
                                        <button id="scroll-up-btn" title="Scroll Up" class="btn scroll-button scroll-up-button w-100">
                                            <i class="bi bi-chevron-up"></i>
                                        </button>
                                    </div>
                                    <div class="col-3 p-0">
                                        <button id="scroll-top-btn" title="Scroll To The Top" class="btn scroll-button scroll-up-button w-100">
                                            <i class="bi bi-chevron-bar-up"></i>
                                        </button>
                                    </div>
                                    <div class="col-3 p-0">
                                        <button id="scroll-down-btn" title="Scroll Down" class="btn scroll-button scroll-down-button w-100">
                                            <i class="bi bi-chevron-down"></i>
                                        </button>
                                    </div>
                                    <div class="col-3 p-0">
                                        <button id="scroll-bottom-btn" title="Scroll To The Bottom" class="btn scroll-button scroll-down-button w-100">
                                            <i class="bi bi-chevron-bar-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Overlay to display messages -->
    <div id="message-overlay" class="message-overlay">
        <div class="message-overlay-header">
            <div class="message-overlay-author" id="overlay-author"></div>
            <button class="message-overlay-close" id="overlay-close"><i class="bi bi-x-circle"></i></button>
        </div>
        <div class="message-overlay-content" id="overlay-content">
            
        </div>
        <div class="message-overlay-footer">
            <button class="message-overlay-copy" id="overlay-copy">
                <i class="bi bi-clipboard"></i> Copy Text
            </button>
        </div>
    </div>
    
    <!-- JavaScript -->
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Custom JS -->
    <script src="/static/js/yt-emoji-parser.js"></script>
    <script src="/static/js/yt-chat-magnifier.js"></script>
    <script src="/static/js/ytcm-style-loader.js"></script>
    
    <!-- Reference to external JavaScript file -->    
    <script>
        // Pass variables from server to JavaScript
        var pollingIntervalMs = {{ polling_interval }};
        var isConnected = {% if connected %}true{% else %}false{% endif %};
        var ytcm_tts_enabled = {{ 'true' if tts_enabled else 'false' }};
        var YTCM_TTS_AUDIO_FILES_DIR = "/{{ tts_audio_files_dir }}";
        var ytcmLayoutStyle = "{{ layout_style }}";
    </script>
</body>
</html>
